body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blue;
  }
  
  #form {
    width: 400px;
    padding: 20px;
    background-color: white;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    color: white;
  }